{% extends 'posts/base.html' %}{% load static %}{% block content %}
<div class="controllogin">
    <hr> {% for message in messages %}

    <center>
        <h3>{{ message }}</h3>
    </center>
    {% endfor %}
    <div class="login">
        <h1>Login</h1>
        <hr>
        <div class="div1">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input1">
                    <input class="textfield" type="text" name="username" id="username" required>
                    <span></span>
                    <label class="labelfield" for="username" id="userlabel">Nom d'utilisateur</label>

                </div>
                <div class="input1">
                    <input class="textfield" type="password" name="password" id="userpass" required>
                    <span></span>
                    <label class="labelfield" for="password" id="passlabel">Mot de passe</label>

                </div>
                <div class="mot">Mot de Passe Oublié</div>
                <div class="btn_conn">
                    <button type="submit">Connexion</button>
                </div>
                <div class="creer">Je n'ai pas de compte?
                    <a href="{% url 'register' %}"> Creer un Compte</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}